<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/April-22/DesktopTallhero_3000x1200_2._CB623843558_.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/WLA/July/PFS_Unrechero/D50756151_WLA_GW_Heroes_Unrec__Tall_Hero_3000x1200._CB632954420_.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/July2022GW/New_FST_Icons/Apay_ICICI/Shoes_Revised/shoes-pc-1_3000x._CB630274593_.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/AUTO_2021/BAU_GW/August_22/1/Car_3000x1200-PC._CB630123510_.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/kitchen/GW/Aug22/18/3000x1200._CB630110866_.jpg">
        </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wearables/Unrec/GW/August/Unrec_DesktopTallHero_3000x1200._CB630557043_.jpg">
        </div>
    </ng-template>
</owl-carousel-o>
