<!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
     
      <mat-icon>add</mat-icon>  <span id="title">Add New Address</span>  
    </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>
        <mat-card class="example-card"  >
            <form class="example-form" [formGroup]="post">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="font-size:30px;color:#F94892" >Delivary Address  </mat-label>
                <input matInput disabled >
              </mat-form-field>
            
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill" >
                  <mat-label>First name</mat-label>
                  <input matInput [formControl]="firstFormControl" >
                </mat-form-field></td>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                </mat-autocomplete>
            
                <td><mat-form-field class="example-full-width" appearance="fill" id="lname">
                  <mat-label> Last Name </mat-label>
                  <input matInput [formControl]="lastFormControl" >
                </mat-form-field></td>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                </mat-autocomplete>
              </tr>
            
              <tr>
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>pincode</mat-label>
                  <input matInput #postalCode maxlength="6" placeholder="" value="" [formControl]="pincode" >
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  </mat-autocomplete>
            
                  
                </mat-form-field></td>
            
                <td><mat-form-field class="example-full-width" appearance="fill" id="lname">
                  <mat-label>Locality</mat-label>
                  <input matInput placeholder="proddatur" [formControl]="locality">
                </mat-form-field></td>
              </tr>
            
              <tr id="email">
                <td><form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                           placeholder="Ex. pat@example.com">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  </mat-autocomplete>
                </form></td>
            
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>mobile number</mat-label>
                  <input matInput #postalCode maxlength="10" placeholder="" value="" [formControl]="mobile">
                  <mat-hint align="end">{{postalCode.value.length }} / 10</mat-hint>
                </mat-form-field></td>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                </mat-autocomplete>
              </tr>
               </table>
            
              <p>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Address</mat-label>
                  <textarea matInput placeholder="Ex. 100 Main St"> </textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Address 2</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                </mat-autocomplete>
              </p>
            
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Country</mat-label>
                  <input matInput placeholder="Ex. San Francisco">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>State</mat-label>
                  <input matInput placeholder="Ex. California">
                </mat-form-field></td>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                </mat-autocomplete>
                
              </tr> 
              <tr>
              
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>town</mat-label>
                  <input matInput placeholder="Ex. California">
                </mat-form-field></td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Land Mark</mat-label>
                  <input matInput placeholder="near modern high school">
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                </mat-autocomplete>
              </tr>
            
            
            
            </table> <br>
            
            <button mat-raised-button color="accent" id="btn">submit</button>
            </form>
            </mat-card>
    </ng-template>
  </mat-expansion-panel> -->

<!-- 
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form> -->

    <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
     
      <mat-icon>add</mat-icon>  <span id="title">Add New Address</span>  
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
<div class="card" style="width: 40rem; height: 43rem; padding-left:5px">
  <form [formGroup]="addResto" (ngSubmit)="collectResto()">
     <div class="container">
    <div class="form-row">
      <div class="form-group col-md-6"> <br> 
        <label for="fname"> Name</label>
        <input type="text" class="form-control" id="fname" placeholder="" formControlName="name">
      </div>
      <div class="form-group col-md-6"> <br>
        <label for="mobnumber">mobile number</label>
        <input type="text" class="form-control" id="mobnumber" placeholder="" formControlName="mobile" >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">pincode</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="" formControlName="pincode">
      </div>
      <div class="form-group col-md-6">
        <label for="Locality">Locality</label>
        <input type="text" class="form-control" id="Locality" placeholder="" formControlName="locality">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label> <span>
       <!-- <input type="textarea" class="form-control" id="inputAddress" placeholder=""> -->
      <textarea id="inputAddress" class="form-control"  rows="4" cols="50" formControlName="address"></textarea> </span>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" formControlName="city">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" formControlName="state">
          <option selected>Choose...</option>
          <option>Andhra pradesh</option>
          <option>Telangana</option>
          <option>kerala</option>
          <option>karnataka</option>
          <option>tamilnadu</option>
          <option>maharastra</option>
          <option>odisha</option>
          <option>uttar pradesh</option>
          <option>madhya pradesh</option>
        

        </select>
      </div>
    </div> <br> 

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="landmark">landmark</label>
        <input type="text" class="form-control" id="landmark" placeholder="" formControlName="landmark">
      </div>
      <div class="form-group col-md-6">
        <label for="mobnumber">Alternate mobile number(optional)</label>
        <input type="text" class="form-control" id="mobnumber" placeholder="" formControlName="alternate">
      </div>
    </div> 



 
  
    <p>Address type</p>
      <input type="radio" id="html" name="addressType" value="Home" formControlName="addressType">
      <label for="html"> Home(all day delivery)</label><br>
      <span> <input type="radio" id="css" name="addressType" value="Work" formControlName="addressType" >
      <label for="css">Work (Delivery between 10a.m-5p.m)</label></span>  <br> <br> 
 
    <!-- <div class="form-row">
      <div class="form-group col-md-6">
          <label for="add">Home (all day delivery)</label><br>
        <input type="radio" id="add" name="Address" value="Delivery">
      </div>
      <div class="form-group col-md-6">
       
        <input type="radio" id="addr" name="Address" value="Work (Delivery between 10a.m-5p.m)">
        <label for="addr">Work (Delivery between 10a.m-5p.m)</label>
      </div>
    </div>  -->
     
     <div class="form-row">
      <div class="form-group col-md-6">
        <button type="submit" class="form-control" style="background-color:#F94892;width:3cm;height:1cm;color:#FFF" [disabled]="addResto.invalid">Save</button>
    </div>
    <!-- <div class="form-group col-md-6">
      <button type="button">cancel</button>

    </div> -->
  </div> 
      

     
  
  </div>
  </form>
</div>
</ng-template>
  </mat-expansion-panel>  

