  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
     
      <mat-icon>add</mat-icon>  <span id="title">Edit Address</span>  
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent> -->
   <!-- <mat-card>
    <mat-card-content>   -->
  <!-- <div class="card"  *ngIf="dispaly" >
  <form [formGroup]="editResto"  (ngSubmit)="update()">
     <div class="container">
    <div class="form-row">
      <div class="form-group col-md-6"> <br> 
        <label for="fname"> Name</label>
        <input type="text" class="form-control" id="fname" placeholder="" formControlName="name">
      </div>
      <div class="form-group col-md-6"> <br>
        <label for="mobnumber">mobile number</label>
        <input type="text" class="form-control" id="mobnumber" placeholder="" formControlName="mobile" >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">pincode</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="" formControlName="pincode">
      </div>
      <div class="form-group col-md-6">
        <label for="Locality">Locality</label>
        <input type="text" class="form-control" id="Locality" placeholder="" formControlName="locality">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label> <span>
        <input type="textarea" class="form-control" id="inputAddress" placeholder=""> 
      <textarea id="inputAddress" class="form-control"  rows="4" cols="50" formControlName="address"></textarea> </span>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" formControlName="city">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" formControlName="state">
          <option selected>Choose...</option>
          <option>Andhra pradesh</option>
          <option>Telangana</option>
          <option>kerala</option>
          <option>karnataka</option>
          <option>tamilnadu</option>
          <option>maharastra</option>
          <option>odisha</option>
          <option>uttar pradesh</option>
          <option>madhya pradesh</option>
        
  
        </select>
      </div>
    </div> <br> 
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="landmark">landmark</label>
        <input type="text" class="form-control" id="landmark" placeholder="" formControlName="landmark">
      </div>
      <div class="form-group col-md-6">
        <label for="mobnumber">Alternate mobile number(optional)</label>
        <input type="text" class="form-control" id="mobnumber" placeholder="" formControlName="alternate">
      </div>
    </div> 
  
  
  
  
    <!-- <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>   
  
    <p>Address type</p>
      <input type="radio" id="html" name="addressType" value="Home" formControlName="addressType">
      <label for="html"> Home(all day delivery)</label><br>
      <span> <input type="radio" id="css" name="addressType" value="Work" formControlName="addressType" >
      <label for="css">Work (Delivery between 10a.m-5p.m)</label></span>  <br> <br> 
  
    <!-- <div class="form-row">
      <div class="form-group col-md-6">
          <label for="add">Home (all day delivery)</label><br>
        <input type="radio" id="add" name="Address" value="Delivery">
      </div>
      <div class="form-group col-md-6">
       
        <input type="radio" id="addr" name="Address" value="Work (Delivery between 10a.m-5p.m)">
        <label for="addr">Work (Delivery between 10a.m-5p.m)</label>
      </div>
    </div>   
     
     <div class="form-row">
      <div class="form-group col-md-6">
      <button type="submit" class="form-control" style="background-color:#F94892;width:3cm;height:1cm;color:#FFF">Update</button>
    </div>
    <div class="form-group col-md-6">
      <!-- <button type="button" class="btn btn-secondary" style="width:3cm;height:1.3cm;" (click)="close()">cancel</button> 
      
      <button type="button" class="btn btn-info" style="width:3cm;height:1cm;margin-left:-6cm" (click)="close()">Cancel</button>
  
    </div>
  </div> 
      
  
     
  
  </div>
  </form>
  </div> -->
   <!-- </ng-template>
  </mat-expansion-panel>    -->
<!-- </mat-card-content>
</mat-card>   -->


 
