/* style="width: 40rem; height: 43rem; padding-left:5px" */

.card{
    width: 20cm;
    margin-left:70px;
}

/* .card{
    width: 20cm;
    margin-left: 20px;
   
  } */

  /* .container{
    margin-left: 50px;
    margin-top: 15px;
  } */
  